<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463138675633-dca05mki41ctvmm7cuu37pnufi07agr9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463138675633-dca05mki41ctvmm7cuu37pnufi07agr9</string>
	<key>API_KEY</key>
	<string>AIzaSyC2OyPymA2PR1Sa0apEPF1satU3UV7cySk</string>
	<key>GCM_SENDER_ID</key>
	<string>463138675633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.irhamnaufal8.Sehat-in</string>
	<key>PROJECT_ID</key>
	<string>sehat-in</string>
	<key>STORAGE_BUCKET</key>
	<string>sehat-in.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:463138675633:ios:36767a4346ccc3b3e67b90</string>
</dict>
</plist>
